@*@model Nop.Plugin.Widgets.SwipeSliderPro.SwipeTypes.CoverflowEffect3D*@

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#cfe3">
            <i class="toggle-icon fa fa-plus"></i>
            <span>Coverflow Effect 3D</span>
        </div>
        <div id="cfe3" class="panel-body collapse">   
            <div class="panel panel-default">
                <div class="panel-body">Demo</div>
                <iframe data-src="https://swiperjs.com/demos/240-effect-coverflow.html" scrolling="no" src="https://swiperjs.com/demos/240-effect-coverflow.html" frameborder="0" style="width: 1200px;height: 400px;">
                </iframe>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">Parameters</div>
            </div>
        </div>
    </div>

